.allcourse-card,
.popular-course {
  animation: fadeIn 500ms ease-in forwards;
}

/* #docentes-container .instructor-card {
  animation: fadeInSlide 500ms ease-in forwards;
} */

#teacher-container .instructor-card {
  animation: fadeIn 1s ease-in forwards;
}

#docentes-container .instructor-card {
  opacity: 0;
  transition-duration: 600ms;
  transform: translateX(10%);
}

#docentes-container .instructor-card.show {
  opacity: 1;
  transform: translateX(0%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
