body {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.course-section {
  position: relative;
  background-image: url("../images/derecho-constitucional.jpg");
  min-height: 220px;
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
}

.course-section:after {
  content: "";
  position: absolute;
  background: rgba(19, 19, 19, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.course-section {
  margin-bottom: 0px !important;
}

.course-banner-header h3 a:hover {
  color: var(--main-color) !important;
}

.course-banner-header {
  height: 60px;
  flex: 1;
  margin-top: 15px;
  margin-bottom: 0px;
}

.course-banner-header p,
.course-banner-header h3,
.course-banner-header .course-breadcrumb {
  color: white;
  margin-left: 10px !important;
}

.course-banner-header h3 {
  font-size: calc(0.5vw + 12px);
  font-weight: 500;
  margin-bottom: 0px;
}

.course-banner-header p {
  font-size: calc(0.5vw + 25px);
  font-weight: 700;
}

.course-breadcrumb li {
  font-size: calc(0.5vw + 12px);
}
/* 
.course-name {
  opacity: 0.7;
} */

.course-banner-header span.course-name {
  font-weight: 700 !important;
}

.section-heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tabnav */
.container {
  direction: ltr;
}

.course-banner {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
}

#tabnav.nav-tabs {
  position: relative;
  border-bottom: none !important;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.course-tabnav {
  margin-top: 20px;
}

.nav-tabs,
.nav-tabs li a {
  color: white !important;
  background: none !important;
  border: none !important;
  font-weight: normal;
  padding: 5px 30px !important;
  line-height: 30px;
}

.nav-tabs li a.active {
  font-weight: normal;
  text-shadow: 1px 0px 0 currentColor;
}

.nav-tabs li a {
  position: relative;
}

.nav-tabs li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid var(--secondary-color);
  transition: 200ms;
}

.nav-tabs li a.active::before,
.nav-tabs li a:hover::before  {
  width: 70%;
}

/* Tabnav Content */
.tab-content {
  display: flex;
  flex-direction: row;
  direction: ltr;
}

.course-title h3 {
  color: var(--main-color);
  font-weight: 800;
}

.course-title p {
  font-size: 16px;
}

.course-teachers {
  direction: rtl;
}

.instructor-desc {
  text-align: right;
}

.instructor-card {
  margin-bottom: 20px !important;
}

.instructor-img img {
  width: 100px !important;
}

.instructor-content {
  padding: 10px !important;
}

.instructor-profile {
  padding: 8px 12px !important;
}

.tab-pane {
  color: rgb(126, 126, 126);
  font-weight: 700;
}

/* Course objectives */
.check-list li::marker {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--accent-color);
  content: "\f058";
}

ul.check-list {
  padding-left: 1em;
}

ul.check-list li {
  list-style-position: outside;
}

.sub-check-list li::marker {
  content: "\f111";
  font-weight: 200;
}

.tab-pane p {
  text-align: justify;
}

ul.check-list li span {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.8em;
}

.btn-50-100 {
  width: 50%;
}

@media (max-width: 991px) {
  .btn-50-100 {
    width: 100%;
  }

  .tab-content {
    flex-direction: column;
  }

  .btn-apply {
    display: none;
  }

  .instructor-desc {
    text-align: center;
  }

  .course-description {
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .nav-tabs,
  .nav-tabs li a {
    padding: 5px 10px !important;
  }

  .course-banner-header h3 {
    font-size: 18px;
  }
}

/* Normas */
#normas .check-list li {
  margin-left: 1rem;
}

#normas ol li::marker {
  color: black;
  font-weight: bold;
  font-size: 14px;
}