
.courses-section {
    position: relative;
    background-image: url("../images/derecho-constitucional.jpg");
    min-height: 220px;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 1;
}

.courses-section:after {
	content: "";
    position: absolute;
    background: rgba(19, 19, 19, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.courses-banner-header {
    position: absolute;
    text-align: left;
    bottom: 40px;
    right: 0;
    left: 20px;
}

@media (max-width: 700px) {
    .courses-banner-header {
        padding: 0px 8px;
        left: 0px;
    }  
}

/* .header-line {
	width: 36px;
	height: 4px;
    background-color: var(--main-color);
} */

/* .academy-offer-name:hover {
    color: var(--main-color) !important;
} */

.courses-banner-header p,
.courses-banner-header h3,
.courses-banner-header .course-breadcrumb {
    color: white;
    margin-left: 10px !important;
}

.courses-banner-header .course-breadcrumb .active {
    color: rgb(194, 194, 194) !important;
}

.courses-banner-header h3 {
    font-size: calc(0.5vw + 20px);
    font-weight: 700;
    margin-bottom: 0;
}

.courses-banner-header  .course-breadcrumb li {
    font-size: calc(0.5vw + 18px);
    font-weight: 700;
    margin-bottom: 0;
}

.courses-banner-header p {
    font-size: calc(0.5vw + 15px);
}

.section-heading {
    margin-top: 20px;
    margin-bottom: 40px;
}