.fa-caret-right.right-nav-white:before {
  color: var(--main-color);
}

/* Helpers */

/* Vertical line for headers */
.banner-pre::before {
  content: " ";
  position: absolute;
  background-color: var(--secondary-color);
  width: 6px;
  height: inherit;
}

.banner-text-left {
  width: 6px;
  background-color: var(--secondary-color);
}

.btn-custom {
  background-color: var(--main-color);
  border: none !important;
}

.btn-custom:hover {
  background-color: var(--accent-color) !important;
}

.btn-custom:focus {
  background-color: var(--accent-color) !important;
}

/* Overwrite direction */
.direction-ltr {
  direction: ltr !important;
}

.direction-rtl {
  direction: rtl !important;
}

.header-left {
  margin-left: 46px;
}

.header-left::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 36px;
  height: 4px;
  left: 0;
  background-color: var(--main-color);
}

/* Banner */
.banner-heading h2 {
  color: white;
  font-weight: 800;
  font-size: calc(0.5vw + 20px);
}

.banner-heading p {
  color: white;
  font-size: calc(0.5vw + 16px);
}

.banner-text h2,
.banner-text p {
  margin-left: 15px;
}

.banner-heading {
  position: relative;
  display: flex;
  flex-direction: row;
}

.banner-content {
  direction: ltr;
}

.banner-left {
  flex-grow: 1;
}

.banner-form {
  position: absolute;
  bottom: 0;
  width: 50%;
}

.search-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.search-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 40px;
}

.search-container button {
  right: 5px;
  height: 35px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
}

.search-container input {
  width: 100%;
  height: 35px;
  border: none;
  padding: 0 10px;
}

.search-container input:focus {
  outline: none;
}

.search-container:focus-within {
  box-shadow: 0px 0px 0px 1px black inset;
}

.video-fluid iframe {
  width: 100%;
}

@media (max-width: 844px) {
  .banner-heading {
    flex-direction: column;
  }

  .banner-form {
    margin-top: 10px;
    width: 100%;
  }

  .banner-video {
    margin-bottom: 60px;
    margin-top: 30px;
  }
}

/* Courses */
.btn-course-details {
  font-size: 15px;
  font-weight: 600;
  min-width: 240px;
  border: none !important;
}

@media (min-width: 768px) and (max-width: 895px) {
  .btn-course-details {
    font-size: 10px;
    min-width: 180px;
  }
}

.btn-course-details:hover {
  background-color: var(--accent-color) !important;
}

.courses-ratings p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

/* Instructors Carousel */
.carousel-indicators li {
  background-color: var(--main-color);
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 50px;
  opacity: 0.1;
  color: var(--main-color);
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  font-size: 50px;
  opacity: 1;
  color: var(--main-color);
}

/* Instructor Card in Grayscale */

.instructor-card .instructor-img {
  filter: grayscale(100%);
  transition: filter 500ms;
}

.instructor-card:hover .instructor-img {
  filter: grayscale(0%);
}

.mentor-widget p.text-main {
  font-weight: 500;
  font-size: 16px;
}

.instructor-card .instructor-desc p.text-primary {
  font-weight: 500;
}

/* Custom CSS */